<a href="https://colab.research.google.com/github/pearlyn-r/isp/blob/main/isp4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
lambda x:x+x

In [ ]:
x=lambda a,b:a*b

In [ ]:
list_1=[1,2,3,4,5,6,7,8,9]
list(filter(lambda x:x%2==0,list_1))

[2, 4, 6, 8]

In [ ]:
cubed=map(lambda x:pow(x,3),list_1)
list(cubed)

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
import pandas as pd
df=pd.DataFrame({
    'Name':['Aaron','Pearlyn',"Anoushka",'Emma'],
    'Job':['Director',"Data Scienist",'Analyst','Girl'],
    'Birthyear':[2003,2003,2004,2022],
})
df

       Name            Job  Birthyear
0     Aaron       Director       2003
1   Pearlyn  Data Scienist       2003
2  Anoushka        Analyst       2004
3      Emma           Girl       2022

In [ ]:
df['age']=df['Birthyear'].apply(lambda x:2022-x)
df

       Name            Job  Birthyear  age
0     Aaron       Director       2003   19
1   Pearlyn  Data Scienist       2003   19
2  Anoushka        Analyst       2004   18
3      Emma           Girl       2022    0